
.footer {
    /* position: absolute;
    bottom: 0; */
    flex-shrink: 0;
    width: 100%;
    display: flex;
    background-color: #1a1a1a;
    justify-content: space-evenly;
    padding-top: 10px;
}

.github-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technology-container {
    display: flex;
    color: white;
    align-items: center;
}

.git-links {
    text-decoration: none;
    color: white;
}

.linkedin-links {
    text-decoration: none;
    color: white;
}

.git-links-title,
.linkedin-links-title {
    color: white;
}

.git-links:hover {
    color: rgb(111, 113, 216);
}

.linkedin-links:hover {
    color: rgb(111, 113, 216);
}

.tech-container-1,
.tech-container-2,
.tech-container-3 {
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}

.tech-outer-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
