.checkout-container {
    display: flex;
    width: 100vw;
    height: 100vh;

}

.checkout-address-container {
    display: flex;
    flex-direction: column;
    flex-basis: 55%;
    padding-top: 40px;
}

.checkout-cart-container {
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
    background-color: rgb(242, 236, 236);
    margin-bottom: 20px;
    padding: 40px;
    gap: 20px;
}

.checkout-cart-items {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-page-img {
    width: 100px;
    border-radius: 11px;
}

.checkout-total-price {
    font-size: 15px;
    margin-left: auto;
    padding-right: 150px;
}

.checkout-divider {
    background-color: rgb(194, 186, 186);
    height: 1px;
    width: calc(100% - 150px);
    list-style: none;
}

.subtotal-container{
    display: flex;
    flex-direction: column;
}
.subtotal {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sub-shipping {
    font-size: 15px;
    margin-left: auto;
    padding-right: 150px;
}
