.produts-container {
    display: flex;
}

.product-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 40vh;
}

.category-banner {
    position: absolute;
    color: white;
    font-size: 50px;
    letter-spacing: 3px;
    text-shadow: 0px 4px 5px rgb(112, 110, 110);
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

/* .category-info{
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1;
} */

.banner-img {
    width: 100%;
    height: 100%;
}

.product-cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 950px;
    margin: auto;
    row-gap: 30px;
    column-gap: 25px;
    padding-bottom: 50px;
}

.sub-category-header {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 5px;
    color: rgb(40, 96, 117);
    text-shadow: 0px 4px 5px rgb(148, 144, 144);
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: calc(33.33% - 30px);
    /* max-width: 300px;
    max-height: 450px; */
    width: calc(100% - 66.66%);
    max-height: 350px;
    height: 100%;
}

.product-img {
    max-width: 270px;
    max-height: 175px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0 10px 0;
}

#product-origin {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
}

.product-card-link {
    text-decoration: none;
    color: rgb(54, 124, 152);
}

.product-card-link:hover {
    color: rgb(14, 56, 135);
}

.info-divider {
    list-style: none;
    height: 1px;
    background-color: black;
    width: 8%;
    margin-top: -5px;
}

.inner-info {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding-bottom: 40px;
}

#product-price {
    color: rgb(75, 134, 158)
}

.product-page-buttons {
    display: flex;
    justify-content: space-between;
    border: 1px black solid;
    height: 40px;
}

.counter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
}

.counter-container>button {
    background-color: white;
    border: none;
    width: 40px;
    font-size: 15px;
}


#plus {
    font-size: 25px;
    font-weight: 100;
}

.add-to-cart {
    width: 50%;
    height: 100%;
    color: white;
    background-color: rgb(40, 96, 117);
    border: none;
    font-size: 15px;
}

.add-to-cart:hover {
    background-color: rgb(79, 141, 163);
}
